.text-center{
    text-align: center;
}

.img{
    display: block;
    margin: 0 auto;

    width: 400px;
    border-radius: 5px;
}


main{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.mat-card{
    margin: auto;
    width: 40%;
    display: block;
    margin-top: 2rem;
}

mat-form-field, input{
    width: 100%;
}

button{
    width: 100%;
}

.text-danger{
    color: red;
}

