<p>
    <mat-toolbar color="primary">
      
      <mat-toolbar-row>
        <span>Angular Deva</span>
        <span class="example-spacer"></span>

        <button mat-flat-button color="primary" (click)="navigator('home')">
          <mat-icon>home</mat-icon>
            Home
        </button>
        
        
        <button mat-flat-button color="primary" (click)="navigator('contact')">
            <mat-icon>phone</mat-icon>
            Contact
        </button>

      </mat-toolbar-row>
    </mat-toolbar>
  </p>